.board__container{
    height: 100%;
    width: 100%;
    background: #444;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.board__header{
    display: flex;
    justify-content: center;
}
.board__header > h3{
    cursor: pointer;
    padding-top: 20px;
}
.board__items{
    background: rgba(0, 0, 0, 0.123);
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}
