.folder-header{
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 2px solid #555;

    display: flex;
    justify-content: space-between;
}
.folder-header_left{
    display: flex;
    align-items: center;
}
.folder-header_left > input {
    background: #333;
    color: white;
    border: none;
    outline: none;
    width: 100%;
}
.folder-content{
    border-bottom: 2px solid #555;
}
.file-create{
    background: #333;
    color: white;
    outline: none;
    border: none;
}
.delete_svg{
    margin-right: 6.5862px;
}